form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

label, input, button {
    width : 150px;
    margin: 0;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

input[type="email"]{
    -webkit-appearance: none;

    border: 1px solid #333;
    font-family: inherit;
    font-size: 90%;
}

/* This is our style for the invalid fields */
input:invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}