body {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

h1, p {
    text-align: center;
}

div #tulos table, #messagetable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#tulos td, #tulos th, #messagetable td, #messagetable th {
    border: 1px solid #ddd;
    padding: 5px;
}

#tulos tr:nth-child(odd), #messagetable tr:nth-child(odd) {
    background-color: #ddd;
    padding: 5px;
}

#tulos tr:hover {
    background-color: darkgrey;
}

#tulos th, #messagetable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
}

#tulos tr td:first-child, #messagetable tr td:first-child {
    width: 60%;
}

#tulos tr td:nth-child(2), #messagetable tr td:nth-child(2) {
    width: 30%;
    font-size: smaller;
}

#tulos tr td:last-child, #messagetable tr td:last-child {
    width: 10%;
    font-size: smaller;
}

.content {
    max-width: 800px;
    margin: 5px;
}

fieldset {
    width: 90%;
    max-width: 450px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

legend {
    text-align: left;
}

table {
    align-content: center;
    text-align: left;
}

.hide {
    display: none;
}

.welcome {
    display: block;
}

label {
    width : 50px;
    margin: 0;
    font-size: smaller;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

input {
    width: 250px;
    margin-left: 5px;
    border-radius: 8px;
}

input.placeholder {
    text-align: left;
    margin-left: 5px;
}

textarea {
    width: 450px;
    margin-left: 5px;
    border-radius: 8px;
}

/*input[type="email"]{*/
    /*-webkit-appearance: none;*/

    /*border: 1px solid #333;*/
    /*font-family: inherit;*/
    /*font-size: 90%;*/
/*}*/

footer {
    margin-top: 8px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    font-family: Arial;
}

.loginbutton {
    margin-right: 2px;
    border-radius: 8px;
    width: 150px;
    height: 22px;
    background-color: cornflowerblue;
    color: white;
    font-size: small;
    font-weight: bolder;
    align-content: center
}