body {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

.content {
    max-width: 600px;
    margin: 20px;
}

fieldset {
    width: 90%;
    max-width: 500px;
    margin: auto;
    position: relative;
}

.hide {
    display: none;
}

.welcome {
    display: block;
}

label {
    width : 50px;
    margin: 0;
    font-size: smaller;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

input {

}

/*input[type="email"]{*/
    /*-webkit-appearance: none;*/

    /*border: 1px solid #333;*/
    /*font-family: inherit;*/
    /*font-size: 90%;*/
/*}*/

footer {
    margin-top: 8px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    font-family: Arial;
}

.loginbutton {
    margin-right: 2px;
    border-radius: 8px;
    width: 130px;
    height: 22px;
    color: black;
    font-size: x-small;
    font-weight: bolder;
    align-content: center
}